.cocktails {
  font-family: 'Montserrat', sans-serif;

  &__container {
    position: relative;
    padding: 1rem 10vw 3rem;
    box-sizing: border-box;
    min-height: 101vh;
  }

  &__logo-container{
    padding: 0.5rem 0 1.5rem;
    width: 3rem;
    text-align: center;
  }

  &__logo {
    transform: scale(2);
    font-size: large;
    color: #777777;
  }

  &__filters {
    margin: 0 0 2.4rem;
  }

  &__loader {
    position: absolute;
    bottom: 0;
    width: max-content;
    display: flex;
    justify-content: center;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}