.filters {
  &__container {
    width: 100%;
    height: 100%;
    padding: 0 2rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
    background-color: white;
    border-radius: 4px;
  }

  &__icon-button {
    padding-top: 1rem;
  }

  &__input {
    width: 100%;
    padding-top: 0.9rem;
  }

  &__selectors {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
  }

  &__search-icon, &__swap-icon {
    color: black;
  }
}